# Clean Income Data

In [1]:
import pandas as pd

In [4]:
# kaggle_income_utf_8.csv is not included on GitHub.
income_data_path = "../data/us-household-income-stats-geo-locations/kaggle_income_utf_8.csv"
income_data = pd.read_csv(income_data_path)

In [66]:
helpful_data = income_data[["State_ab", "City", "Zip_Code", "Lat", "Lon", "Mean", "Median", "Stdev"]]
helpful_data.head()

,State_ab,City,Zip_Code,Lat,Lon,Mean,Median,Stdev
0,AL,Chickasaw,36611,30.771450,-88.079697,38773,30506,33101
1,AL,Louisville,36048,31.708516,-85.611039,37725,19528,43789
2,AL,Columbiana,35051,33.191452,-86.615618,54606,31930,57348
3,AL,Satsuma,36572,30.874343,-88.009442,63919,52814,47707
4,AL,Dauphin Island,36528,30.250913,-88.171268,77948,67225,54270

In [55]:
helpful_data.to_csv("./Clean_data/Income.csv")

# Google Maps

In [67]:
import gmaps

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [84]:
loc_tuple = []
for row in range(0,5):
    loc_tuple.append((helpful_data["Lat"][row], helpful_data["Lon"][row]))
    
print(loc_tuple)

[(30.77145, -88.079697), (31.708515999999996, -85.611039), (33.191452000000005, -86.61561800000001), (30.874343, -88.009442), (30.250913, -88.17126800000001)]

In [75]:
# Create a list containing coordinates
coordinates = [
    (40.71, -74.00),
    (30.26, -97.74),
    (46.87, -96.78),
    (47.60, -122.33),
    (32.71, -117.16)
]

type(coordinates[0])

tuple

In [69]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [85]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(loc_tuple)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦