In [1]:
import pandas as pd

In [2]:
popu_df = pd.read_csv("population.csv",sep=',', dtype=str)
popu_df.head()

  zip_code y-2016 y-2015 y-2014 y-2013 y-2012 y-2011 y-2010 aggregate
0    00601  17800  17982  18088  18450  18544  18533  18570    127967
1    00602  39716  40260  40859  41302  41640  41930  41520    287227
2    00603  51565  52408  53162  53683  54540  54475  54689    374522
3    00606   6320   6331   6415   6591   6593   6386   6615     45251
4    00610  27976  28328  28805  28963  29141  29111  29016    201340

In [3]:
# we use the latest data
popu_df_2016 = popu_df[["zip_code","y-2016"]]
popu_df_2016 = popu_df_2016.rename(columns = {"y-2016" : "popultion"})
popu_df_2016.head()

  zip_code popultion
0    00601     17800
1    00602     39716
2    00603     51565
3    00606      6320
4    00610     27976

In [4]:
popu_df_2016.to_csv("cleaned_population.csv", sep=',', encoding='utf-8', index=False)