In [26]:
import pandas as pd
import numpy as np

fast_food = "FastFoodRestaurants.csv"

fast_food_df = pd.read_csv(fast_food)

# we only keep two coloums: "name" of the fastFoodRestaurant and "postalCode"
fast_food_df = fast_food_df[["name","postalCode"]]

# rename the column
fast_food_df = fast_food_df.rename(columns = {"postalCode" : "zip_code1"})
fast_food_df.head()

               name zip_code1
0        McDonald's     13662
1           Wendy's     43160
2  Frisch's Big Boy     41056
3        McDonald's     13662
4   OMG! Rotisserie     45701

In [27]:
# we only need the first 5 digit of the zipcode 
fast_food_df["zip_code_str"] = fast_food_df["zip_code1"].astype(str).str[0:5]
fast_food_df["zip_code"] = fast_food_df["zip_code_str"].apply(lambda x: str(x).zfill(5))
fast_food_df.head()

               name zip_code1 zip_code_str zip_code
0        McDonald's     13662        13662    13662
1           Wendy's     43160        43160    43160
2  Frisch's Big Boy     41056        41056    41056
3        McDonald's     13662        13662    13662
4   OMG! Rotisserie     45701        45701    45701

In [28]:
# it is the number not the exact brand name of the fastFoodRestaurant is import
# there are we count the number of restaurants in each zip_code_1 
fast_food_by_zc = fast_food_df.groupby(["zip_code"])
fast_food_by_zc = fast_food_by_zc.count()

# make the dataframe more readable
fast_food_by_zc = fast_food_by_zc.rename(columns = {"name" : "number_of_fastfood"})
fast_food_by_zc["zip_code"] = fast_food_by_zc.index
fast_food_by_zc.head()

          number_of_fastfood  zip_code1  zip_code_str zip_code
zip_code
01020                      2          2             2    01020
01027                      1          1             1    01027
01040                      1          1             1    01040
01060                      1          1             1    01060
01073                      1          1             1    01073

In [29]:
# drop the orginal 9-digit zipcode
fast_food_by_zc = fast_food_by_zc.drop(["zip_code1","zip_code_str"], axis=1)
fast_food_by_zc.head()

          number_of_fastfood zip_code
zip_code
01020                      2    01020
01027                      1    01027
01040                      1    01040
01060                      1    01060
01073                      1    01073

In [30]:
fast_food_by_zc["zip_code"].count()

5216

In [31]:
fast_food_by_zc["zip_code"].value_counts()

64118    1
75217    1
08204    1
99019    1
94541    1
39553    1
24522    1
37167    1
40505    1
17201    1
37013    1
02032    1
04011    1
30106    1
32805    1
80550    1
40067    1
53527    1
90056    1
73111    1
27560    1
28425    1
95301    1
97209    1
37087    1
98275    1
13421    1
87105    1
92236    1
33403    1
        ..
76667    1
45414    1
89014    1
93422    1
21703    1
20733    1
98296    1
19107    1
10007    1
50702    1
29212    1
20194    1
85382    1
51360    1
39581    1
15224    1
37388    1
70058    1
33801    1
30189    1
51250    1
30008    1
28557    1
48059    1
60603    1
61554    1
53226    1
31410    1
14870    1
43064    1
Name: zip_code, Length: 5216, dtype: int64

In [32]:
fast_food_by_zc.sort_values(by = ["zip_code"])["zip_code"][0]

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: 'zip_code' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

'01020'

In [33]:
fast_food_by_zc.sort_values(by = ["zip_code"])["zip_code"][396]

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: 'zip_code' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

'11554'

In [34]:
# save data into csv
fast_food_by_zc.to_csv("cleaned_fastFood3.csv", sep=',', encoding='utf-8', index=False)