In [74]:
import pandas as pd
import numpy as np

file_to_load = "Resources/Datafiniti_Fast_Food_Restaurants.csv"
file_to_load2 = "Resources/crime_data_w_population_and_crime_rate.csv"


fastfood_data = pd.read_csv(file_to_load)
ff_counts = fastfood_data['province'].value_counts()
ff_bystate = pd.DataFrame(ff_counts)
ff_bystate = ff_bystate.reset_index(inplace=False)
ff_bystate = ff_bystate.rename(columns={"index":"state"})
ff_bystate = ff_bystate.rename(columns={"province":"number"})
ff_bystate['number'] = ff_bystate['number'].astype(float)
ff_bystate['state'] = ff_bystate['number'].astype(float)

CA    1201
TX     811
FL     621
OH     522
GA     420
IL     405
PA     383
MI     374
NY     352
AZ     330
TN     302
NC     295
IN     254
VA     253
MA     205
LA     202
MN     199
WA     196
WI     189
SC     188
MD     172
OK     166
KY     166
MO     163
OR     154
CO     148
NJ     129
NV     121
IA     115
AR     102
NE      87
NM      78
KS      74
WV      70
UT      63
MS      55
CT      53
ID      51
DE      44
SD      42
MT      38
ND      35
NH      34
HI      32
WY      29
ME      25
AK      16
RI      15
VT      15
AL       6
Name: province, dtype: int64

In [70]:
crime_data = pd.read_csv(file_to_load2)
crime_data[['county','state']] = crime_data['county_name'].str.split(',',expand=True)
crime_data["crime_rate"] = crime_data['crime_rate_per_100000']/1000
crime_data = crime_data[['state','crime_rate']]
crime_bystate = crime_data.groupby(['state'])
avg_bystate = crime_bystate.mean()
avg_bystate["crime_rate"] = round(avg_bystate["crime_rate"],2)
avg_bystate = avg_bystate.drop(avg_bystate.index[7])
avg_bystate = avg_bystate.reset_index(inplace=False)
avg_bystate

   state  crime_rate
0     AK        0.29
1     AL        0.39
2     AR        0.33
3     AZ        0.35
4     CA        0.42
5     CO        0.18
6     CT        0.18
7     DE        0.52
8     FL        0.41
9     GA        0.30
10    HI        0.20
11    IA        0.17
12    ID        0.16
13    IL        0.24
14    IN        0.14
15    KS        0.24
16    KY        0.10
17    LA        0.40
18    MA        0.39
19    MD        0.38
20    ME        0.12
21    MI        0.24
22    MN        0.13
23    MO        0.27
24    MS        0.15
25    MT        0.18
26    NC        0.27
27    ND        0.09
28    NE        0.06
29    NH        0.16
30    NJ        0.27
31    NM        0.43
32    NV        0.43
33    NY        0.21
34    OH        0.14
35    OK        0.25
36    OR        0.17
37    PA        0.22
38    RI        0.16
39    SC        0.58
40    SD        0.10
41    TN        0.40
42    TX        0.26
43    UT        0.15
44    VA        0.17
45    VT        0.12
46    WA        0.21
47    WI        0.14
48    WV        0.25
49    WY        0.16